html{
    /* 62.5% of 16px = 10px for easy convert to rem units */
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

:root{
  /*Primary*/
  --color-mainBackground:hsl(233, 47%, 7%);
  --color-cardBackground:hsl(244, 38%, 16%);
  --color-accent: hsl(277, 64%, 61%);
  /* Neutral */
  --color-mainHeadingStats:hsl(0, 0%, 100%);
  --color-statsHeading:hsla(0, 0%, 100%, 0.6);
  --color-mainParagraphy:hsla(0, 0%, 100%, 0.75)
}

body{
    font-size: 2.4rem;
    line-height: 1.5;
    background: var(--Pale-blue);
}

h1, h2, h3 {
    color: var(--colour-headings);
    margin-bottom: 1rem; /*removes default */

}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.4rem;
    font-weight: 500;
}
p{
    margin-top: 0;
    font-weight: 400;
}

*, 
*::after,
*::before{
    box-sizing: border-box;
}

img, picture, svg, video{ /* used to make all these elements responsive*/
    display: block;
    max-width: 100%;}
button{
    outline-color: transparent; /*Hides the defualt outline on buttons even when changed to High contrast style browser */
}
.container{
    max-width: 1350px;
}

/* Grid */

.grid{
    display: flex;
    place-items: center;
    margin: auto;
    flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
.grid--1x2{
    grid-template-columns: repeat(2, 1fr); 
    flex-direction: row;
    }
    
}

/* Stats Card */

.statsCard__heading{
    font-size: 4rem;
    color: var(--color-mainHeadingStats);
    text-align: center;
}
.statsCard{
    background: var(--color-cardBackground);
    border-radius: 15px;
    overflow: hidden;
    
}

.statsCard__Content{
    padding: 6rem;
    margin-right: 50px;
}

.statsCard__text{
    color: var(--color-mainParagraphy);
}